<form #form="ngForm" (ngSubmit)="addOperation()">
    <label for="label">Op label : </label>
    <input type="text" id="label" name="label" [(ngModel)]="operation.label" />
    <label for="amount">Op amount</label>
    <input type="number" id="amount" name="amount" [(ngModel)]="operation.amount" />
    <label for="date">Op date :</label>
    <input type="date" id="date" name="date" [(ngModel)]="operation.date" />
    <input type="submit" value="Add operation" />
</form>