<ul>
    <li *ngFor="let operation of operations">{{operation.date|date:"dd/MM/yyyy"}} : {{operation.label}} : {{operation.amount}} € <button (click)="deleteOne(operation.id!)">Delete</button></li>
</ul>
<button (click)="fetchOne(3)">Show First Op</button>
<div *ngIf="single">
    <h2>Selected Operation</h2>{{single.date|date:"dd/MM/yyyy"}} : {{single.label}} : {{single.amount}}</div>
<!--
<ul>
    <li *ngFor="let operation of operations">{{operation.date|date:"dd/MM/yyyy"}} : {{operation.label}} : {{operation.amount}} € <button (click)="deleteOne(operation.id)">Delete</button></li>
</ul>-->